<link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,300;1,200&display=swap" rel="stylesheet">


<div class="cabecalho">
  <div class = "logo">
    <a routerLink="/home"><img class = "postit" src="../../../assets/img/Logoo.png" alt="logo"></a>
    <h1 class="fonte_geral note">NoteIt</h1>
  </div>
  <div class="caixa_pesquisa">
  <img class = "lupa" src="../../../assets/img/pesquisa.png" alt="">
  <input class="fonte_geral pesquisa" type="text" name="nome" placeholder="Pesquisar uma anotação">
  </div>
  <div class = "conta">
    <img class = "user" src="../../../assets/img/Config.png" alt="">
    <img class = "config" src="../../../assets/img/user.png" alt="">
  </div>
</div>
<div class = "linha"></div>
<div class="add">
  <a class="criar fonte_geral" routerLink="/criar-nota">+   Criar uma nota</a>
</div>
