<link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,300;1,200&display=swap" rel="stylesheet">
<div class="nota">
  <div class="icones">
    <img class="icone lapis" src="../../assets/img/lapis.png" alt="Editar">
    <img class="icone lixeira" src="../../assets/img/lixeira.png" alt="Excluir">
  </div>
  <div class="caixas">
  <div class="caixa">
    <h1 class="fonte_geral chamativo">{{ nota.titulo }}</h1>
    <h1 class="aviso fonte_geral">{{nota.conteudo}}</h1>
  </div>
</div>
</div>
