<link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,300;1,200&display=swap" rel="stylesheet">
<div class="centraliza">
  <div class="cartao_interacao">
    <h1 class="fonte_geral q">Criar uma nota?</h1>
    <div class="caixa_texto_anotacao">
    <input class="nota fonte_geral" type="text" name = "nome" placeholder="Título da anotação">
    </div>
    <div class="caixa_texto_anotacao">
      <input class="nota2 fonte_geral" type="text" name = "nome" placeholder="Assunto da nota">
    </div>
    <div class="botao">
      <button routerLink="/home" class="cancela">Cancelar</button>
      <button class="confirma">Confirmar</button>
    </div>
  </div>
</div>
